* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #e6eff6;
}

body,
input,
button {
  font: 16px "Karla", sans-serif;
  font-weight: 400;
  color: hsl(218, 22%, 67%);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: hsl(229, 6%, 66%);
  background-color: #fafafa;
}

// attribution
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
